.about.section
  .container
    .row
      .col-md-3
        h3 О компании
      .col-md-8
        .margin-block
          .row
            .col
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 

              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
.services.section#services
  .container
    .row
      .col-md-3
        h3 Услуги
      .col-md-8
        .margin-block
          .row
            .col
              .service-card
                .card-image
                  img(src=require("../images/guardian.jpg"), alt="")
                .card-name Охрана объектов
            .col
              .service-card
                .card-image
                  img(src=require("../images/guard.jpg"), alt="")
                .card-name Охрана имущества
          .row
            .col
              .service-card
                .card-image
                  img(src=require("../images/security.jpg"), alt="")
                .card-name обеспечение пропускного режима
            .col
              .service-card
                .card-image
                  img(src=require("../images/transport.jpg"), alt="")
                .card-name охрана имущества при транспортировке


