.example {
  display: flex;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
  top: 0;
}
a {
  transform: scale(0.5);
}
body {
  background-color: grey;
}